html {
    width: 1280px;
    margin: 40px;
  
}

body {
    display:inline-block;
    margin: auto;

}

#header {
    margin: 30px 60px;
}

#ShowBARdiv {
    margin: 30px 80px;
    align-content:center
}

#footer {
    margin: 30px 60px;
}

p {
    margin: 30px 10px;
}

h1 {
    color: #377eb8;
}


path { stroke: #fff; }
path:hover { opacity:0.9; }
rect:hover { fill:whitesmoke; }

.axis { 
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
 }

.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
.x.axis path { display: none; }

.legend tr{ border-bottom:1px solid #fff; }
.legend tr:first-child{ border-top:1px solid #fff; }
.legend{
    margin-left:60px;
    margin-bottom:80px;
    display:inline-block;
    border-collapse: collapse;
    border-spacing: 0px;
}
.legend td{
    padding:10px 10px;
    vertical-align:bottom;
    text-align: center;
}
.legendFreq, .legendPerc{
    align-content:right;
    width:auto;
}
